/* lightbox background */


/* slightly grey white
.goverlay {
  background: #f2f2f2;
}
*/

/* off white */
.goverlay {
  background: #FAF9F6;
}

/* reduce footer font size */

.nav-footer {
  font-size: 10px;
}
